header {
    background-color: #f7d9aa;
    padding: 20px;
    text-align: center;
}

#homepage-content .rectangle {
    margin: 10px;
    padding: 15px;
    background: #fff3e0;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.rectangle img {
    width: 100px;
    height: 100px;
}
